body {
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

.navbar:link{
	background-color: transparent;
	color: white;
	text-decoration: underline;
}


.list{
	
	
	display: list;
	padding-top: 120px
	position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;

	}
	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	width: 100%;
	color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: bottom;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: white;
}


html {
	background-image: url("CaterToYou/CaterToYouMVC/WebContent/css/food2.jpg");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100%;
}
.list{
	vertical-align:text-bottom;
	vertical-align: -50px;
}
.stuff {
	min-width: 200px
}

	